<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="1"
     providerName="System.Data.SqlServer"
     connectionString="Server=192.168.1.26;Database=Sigamet;Trusted_Connection=True;Application Name=GasMetropolitanoRuntime" />
  </connectionStrings>
</configuration>