<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>

    <system.serviceModel>
        <diagnostics>
          <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
        </diagnostics>
        
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGM_WSDireccionesEntregaContract" maxReceivedMessageSize="1147483648"/>
                <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="1147483648"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.42:82/ServiceDirEnt.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGM_WSDireccionesEntregaContract"
                contract="DynamicsCRM.IGM_WSDireccionesEntregaContract" name="BasicHttpBinding_IGM_WSDireccionesEntregaContract" />
          <endpoint address="http://192.168.1.42:83/Service.svc" binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_IService1" contract="DynamicsCRMPedidos.IService1"
                    name="BasicHttpBinding_IService1" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>

  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4"/>
  </switches>
   <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\wcfServiceLog1.svc" />
    </sharedListeners>
  </system.diagnostics>

  <connectionStrings>
    <add name="0" providerName="System.Data.SqlClient" connectionString="Server=192.168.1.30;Database=SigametDEVTA;Trusted_Connection=True;Application Name=GasMetropolitanoRuntime" />
    <add name="2" providerName="System.Data.SqlClient" connectionString="Server=192.168.1.30;Database=201712SigametFlamaAzul;Trusted_Connection=True;Application Name=GasMetropolitanoRuntime" />
  </connectionStrings>
</configuration>
