<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGM_WSDireccionesEntregaContract" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IServicioLiquidacionPedidos" />
                <binding name="BasicHttpBinding_WCF_ITSSA_Saldos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.42:82/ServiceDirEnt.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGM_WSDireccionesEntregaContract"
                contract="DynamicsCRM.IGM_WSDireccionesEntregaContract" name="BasicHttpBinding_IGM_WSDireccionesEntregaContract" />
            <endpoint address="http://192.168.1.42:83/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="DynamicsCRMPedidos.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://192.168.1.30:96/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicioLiquidacionPedidos"
                contract="DynamicsCRMLiquidacion.IServicioLiquidacionPedidos"
                name="BasicHttpBinding_IServicioLiquidacionPedidos" />
            <endpoint address="http://192.168.1.42:81/Service.svc/WCF_ITSSA_Saldos.ITSSA_Saldos"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WCF_ITSSA_Saldos"
                contract="DynamicsCRMActualizacionSaldo.WCF_ITSSA_Saldos"
                name="BasicHttpBinding_WCF_ITSSA_Saldos" />
        </client>
    </system.serviceModel>
</configuration>