<?xml version="1.0"?>
<configuration>
<appSettings>
<NotasCredito>
	<add key="Data Source" value="Galgo"/>
	<add key="Initial Catalog" value="Reportes"/>
	<add key="Integrated Security" value="Yes"/>
</NotasCredito>
</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
