<?xml version="1.0"?>
<configuration>
  
  <appSettings >
    <add  key="CadenaConexion" value="Server=192.168.15.7;Database=mobilegas;Uid=root;Pwd=ghc21j4;"/>
    <add  key="servidor" value="MySql.Data.MySqlClient"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization uiCulture="es" culture="es-MX"/>

  </system.web>
  <system.serviceModel>
    <services>
      <service name="REST.ProductRESTService" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="REST.IIProductRESTService"
                  behaviorConfiguration="web"></endpoint>
      </service>
      <service name="REST.SumaService" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="REST.ISumaService"
                  behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
