<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tester.Properties.Settings.SigametConnectionString"
            connectionString="Data Source=ERPSIGAMETGM;Initial Catalog=Sigamet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>