<?xml version="1.0"?>
<configuration>
  <system.web>
    <!--  DEPURACIÓN DINÁMICA DE COMPILACIÓN
          Establezca la depuración de compilación en="true" para insertar símbolos de depuración (información .pdb)
          en la página compilada. Dado que este proceso crea un archivo grande que se ejecuta
          más despacio, debe establecer este valor como true durante la depuración y como
          false el resto del tiempo. Para obtener más información, vea la documentación acerca de
          la depuración de archivos ASP.NET.
    -->
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.0"/>
    <!--  MENSAJES DE ERROR PERSONALIZADOS
          Establezca el modo customErrors como="On" o "RemoteOnly" para habilitar los mensajes de error personalizados y como "Off" para deshabilitarlos. 
          Agregue etiquetas de <error> para cada error que desee controlar.
    -->
    <customErrors mode="Off"/>
    <!--  AUTENTICACIÓN 
          Esta sección establece las directivas de autenticación de la aplicación. Los modos existentes son "Windows", "Forms", 
          "Passport" y "None"
    -->
    <authentication mode="Windows"/>
    <!--  AUTORIZACIÓN 
          Esta sección establece las directivas de autorización de la aplicación. Puede permitir o denegar el acceso 
          a los recursos de la aplicación por usuario o función. Comodines: "*" incluye a todo el mundo, "?" incluye a usuarios anónimos 
          (sin autenticar).
    -->
    <authorization>
      <allow users="*"/>
      <!-- Permitir a todos los usuarios -->
      <!--  <allow     users="[lista de usuarios separados por comas]"
                             roles="[lista de funciones separadas por comas]"/>
                  <deny      users="[lista de usuarios separados por comas]"
                             roles="[ lista de funciones separadas por comas]"/>
            -->
    </authorization>
    <!-- REGISTRO DE SEGUIMIENTO EN EL NIVEL DE APLICACIÓN
          El seguimiento en el nivel de aplicación habilita los resultados del registro de seguimiento para todas las páginas de una aplicación. 
          Establezca habilitar seguimiento en="true" para habilitar el registro de seguimiento. Si pageOutput="true", la
          información de seguimiento se mostrará en la parte inferior de cada página. Si no, puede ver el 
          registro de seguimiento de aplicación en la página "trace.axd" desde la raíz de la aplicación
          Web. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  CONFIGURACIÓN DE ESTADO DE SESIÓN 
          De forma predeterminada ASP.NET utiliza cookies para identificar qué solicitudes pertenecen a una sesión determinada. 
          Si las cookies no están disponibles, puede realizar el seguimiento de una sesión agregando un identificador de sesión en la dirección URL. 
          Para deshabilitar las cookies, establezca sessionState sin cookies como="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZACIÓN
          Esta sección establece la configuración de globalización de la aplicación. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
</configuration>